* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  &__left {
    flex: 0.9; // занимает 90 процентов блока
  }

  &__stats {
    display: flex;
    justify-content: space-between;
  }


}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}